body, html {
	width: 100%;
}

a:hover {
	text-decoration: none;
}

.input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	zoom: 1;
}

.body {
	padding: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.claer {
	clear: both;
}

.num1 {
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
}

.top {
	width: 100%;
}

.btn {
	margin-left: 10px;
}

.w-6 {
	width: 40%;
}

.w6 {
	width: 70%;
}

.w4 {
	width: 30%;
	margin: 0px 10px;
}

.w2 {
	width: 15%;
}

.lp {
	padding: 0px 10px;
}

.fayao {
	width: 100%;
	margin: 10px 0px;
}

th {
	background-color: #b8ebcb
}

.center {
	margin: 10px 0px;
}

select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inputm {
	margin: 0px 10px;
}

.date {
	width: 200px;
}

.tops {
	margin-top: 20px;
}

.frame {
	width: 850px;
	position: absolute;
	left: 15%;
	top: 6%;
	bottom: 0px;
	right: 0px;
	display: none;
}

.ma {
	width: 100%;
	margin: 10px auto;
}

.btns {
	width: 200px;
	margin: auto;
}

.dates {
	width: 30%;
	height: 34px;
	background-color: #dddddd;
	line-height: 34px;
	text-indent: 1em;
}

.mr {
	width: 30%;
	float: left;
	margin-left: 29px;
}

.xx {
	cursor: pointer;
}