@charset "UTF-8";

.nav a {
	color: #333;
}

.nav a:focus, a:hover {
	color: #0ae;
}

.nav .active a {
	font-weight: bold;
}

.nav-tabs {
	margin-bottom: 10px;
}

.navbar {
	margin-bottom: 10px;
}

.sidebar {
	width: 10%;
	padding-right: 10px;
	padding-left: 10px;
}

.maincon {
	width: 90%;
	padding-right: 10px;
	padding-left: 10px;
}