<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sdhqtj.hjt.mapper.XsdjMxMapper">
	<resultMap id="BaseResultMap" type="cn.sdhqtj.hjt.entity.XsdjMx">
		<id column="ID" property="ID" jdbcType="BIGINT" />
		<result column="jtid" property="jtid" jdbcType="INTEGER" />
		<result column="fdid" property="fdid" jdbcType="INTEGER" />
		<result column="djid" property="djid" jdbcType="INTEGER" />
		<result column="xmlx" property="xmlx" jdbcType="VARCHAR" />
		<result column="hzid" property="hzid" jdbcType="INTEGER" />
		<result column="ypid" property="ypid" jdbcType="INTEGER" />
		<result column="ypsl" property="ypsl" jdbcType="DECIMAL" />
		<result column="ypdw" property="ypdw" jdbcType="VARCHAR" />
		<result column="ypph" property="ypph" jdbcType="VARCHAR" />
		<result column="ypcd" property="ypcd" jdbcType="VARCHAR" />
		<result column="hjje" property="hjje" jdbcType="DECIMAL" />
		<result column="ssje" property="ssje" jdbcType="DECIMAL" />
		<result column="xmbz" property="xmbz" jdbcType="VARCHAR" />
		<result column="zt" property="zt" jdbcType="INTEGER" />
		<result column="dm" property="dm" jdbcType="INTEGER" />
		<result column="ct" property="ct" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, jtid, fdid, djid, xmlx, hzid, ypid, ypsl, ypdw, ypph, ypcd, hjje,
		ssje, xmbz,
		zt, dm, ct
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from hjt_xsdj_mx
		where ID = #{ID,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from hjt_xsdj_mx
		where ID = #{ID,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.sdhqtj.hjt.entity.XsdjMx">
		insert into hjt_xsdj_mx (ID, jtid, fdid,
		djid, xmlx, hzid, ypid,
		ypsl, ypdw, ypph, ypcd,
		hjje, ssje, xmbz, zt,
		dm, ct)
		values (#{ID,jdbcType=BIGINT}, #{jtid,jdbcType=INTEGER},
		#{fdid,jdbcType=INTEGER},
		#{djid,jdbcType=INTEGER}, #{xmlx,jdbcType=VARCHAR}, #{hzid,jdbcType=INTEGER},
		#{ypid,jdbcType=INTEGER},
		#{ypsl,jdbcType=DECIMAL}, #{ypdw,jdbcType=VARCHAR}, #{ypph,jdbcType=VARCHAR},
		#{ypcd,jdbcType=VARCHAR},
		#{hjje,jdbcType=DECIMAL}, #{ssje,jdbcType=DECIMAL}, #{xmbz,jdbcType=VARCHAR},
		#{zt,jdbcType=INTEGER},
		#{dm,jdbcType=INTEGER}, #{ct,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.sdhqtj.hjt.entity.XsdjMx">
		insert into hjt_xsdj_mx
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID != null">
				ID,
			</if>
			<if test="jtid != null">
				jtid,
			</if>
			<if test="fdid != null">
				fdid,
			</if>
			<if test="djid != null">
				djid,
			</if>
			<if test="xmlx != null">
				xmlx,
			</if>
			<if test="hzid != null">
				hzid,
			</if>
			<if test="ypid != null">
				ypid,
			</if>
			<if test="ypsl != null">
				ypsl,
			</if>
			<if test="ypdw != null">
				ypdw,
			</if>
			<if test="ypph != null">
				ypph,
			</if>
			<if test="ypcd != null">
				ypcd,
			</if>
			<if test="hjje != null">
				hjje,
			</if>
			<if test="ssje != null">
				ssje,
			</if>
			<if test="xmbz != null">
				xmbz,
			</if>
			<if test="zt != null">
				zt,
			</if>
			<if test="dm != null">
				dm,
			</if>
			<if test="ct != null">
				ct,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ID != null">
				#{ID,jdbcType=BIGINT},
			</if>
			<if test="jtid != null">
				#{jtid,jdbcType=INTEGER},
			</if>
			<if test="fdid != null">
				#{fdid,jdbcType=INTEGER},
			</if>
			<if test="djid != null">
				#{djid,jdbcType=INTEGER},
			</if>
			<if test="xmlx != null">
				#{xmlx,jdbcType=VARCHAR},
			</if>
			<if test="hzid != null">
				#{hzid,jdbcType=INTEGER},
			</if>
			<if test="ypid != null">
				#{ypid,jdbcType=INTEGER},
			</if>
			<if test="ypsl != null">
				#{ypsl,jdbcType=DECIMAL},
			</if>
			<if test="ypdw != null">
				#{ypdw,jdbcType=VARCHAR},
			</if>
			<if test="ypph != null">
				#{ypph,jdbcType=VARCHAR},
			</if>
			<if test="ypcd != null">
				#{ypcd,jdbcType=VARCHAR},
			</if>
			<if test="hjje != null">
				#{hjje,jdbcType=DECIMAL},
			</if>
			<if test="ssje != null">
				#{ssje,jdbcType=DECIMAL},
			</if>
			<if test="xmbz != null">
				#{xmbz,jdbcType=VARCHAR},
			</if>
			<if test="zt != null">
				#{zt,jdbcType=INTEGER},
			</if>
			<if test="dm != null">
				#{dm,jdbcType=INTEGER},
			</if>
			<if test="ct != null">
				#{ct,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.sdhqtj.hjt.entity.XsdjMx">
		update hjt_xsdj_mx
		<set>
			<if test="jtid != null">
				jtid = #{jtid,jdbcType=INTEGER},
			</if>
			<if test="fdid != null">
				fdid = #{fdid,jdbcType=INTEGER},
			</if>
			<if test="djid != null">
				djid = #{djid,jdbcType=INTEGER},
			</if>
			<if test="xmlx != null">
				xmlx = #{xmlx,jdbcType=VARCHAR},
			</if>
			<if test="hzid != null">
				hzid = #{hzid,jdbcType=INTEGER},
			</if>
			<if test="ypid != null">
				ypid = #{ypid,jdbcType=INTEGER},
			</if>
			<if test="ypsl != null">
				ypsl = #{ypsl,jdbcType=DECIMAL},
			</if>
			<if test="ypdw != null">
				ypdw = #{ypdw,jdbcType=VARCHAR},
			</if>
			<if test="ypph != null">
				ypph = #{ypph,jdbcType=VARCHAR},
			</if>
			<if test="ypcd != null">
				ypcd = #{ypcd,jdbcType=VARCHAR},
			</if>
			<if test="hjje != null">
				hjje = #{hjje,jdbcType=DECIMAL},
			</if>
			<if test="ssje != null">
				ssje = #{ssje,jdbcType=DECIMAL},
			</if>
			<if test="xmbz != null">
				xmbz = #{xmbz,jdbcType=VARCHAR},
			</if>
			<if test="zt != null">
				zt = #{zt,jdbcType=INTEGER},
			</if>
			<if test="dm != null">
				dm = #{dm,jdbcType=INTEGER},
			</if>
			<if test="ct != null">
				ct = #{ct,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{ID,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.sdhqtj.hjt.entity.XsdjMx">
		update hjt_xsdj_mx
		set jtid = #{jtid,jdbcType=INTEGER},
		fdid = #{fdid,jdbcType=INTEGER},
		djid = #{djid,jdbcType=INTEGER},
		xmlx = #{xmlx,jdbcType=VARCHAR},
		hzid = #{hzid,jdbcType=INTEGER},
		ypid = #{ypid,jdbcType=INTEGER},
		ypsl = #{ypsl,jdbcType=DECIMAL},
		ypdw = #{ypdw,jdbcType=VARCHAR},
		ypph = #{ypph,jdbcType=VARCHAR},
		ypcd = #{ypcd,jdbcType=VARCHAR},
		hjje = #{hjje,jdbcType=DECIMAL},
		ssje = #{ssje,jdbcType=DECIMAL},
		xmbz = #{xmbz,jdbcType=VARCHAR},
		zt = #{zt,jdbcType=INTEGER},
		dm = #{dm,jdbcType=INTEGER},
		ct = #{ct,jdbcType=TIMESTAMP}
		where ID = #{ID,jdbcType=BIGINT}
	</update>
</mapper>