<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sdhqtj.hjt.mapper.YsxyfMapper">
	<resultMap id="BaseResultMap" type="cn.sdhqtj.hjt.entity.Ysxyf">
		<id column="ID" property="ID" jdbcType="INTEGER" />
		<result column="fdid" property="fdid" jdbcType="INTEGER" />
		<result column="jtid" property="jtid" jdbcType="INTEGER" />
		<result column="xyfbm" property="xyfbm" jdbcType="VARCHAR" />
		<result column="xyfmc" property="xyfmc" jdbcType="VARCHAR" />
		<result column="xyfzjm" property="xyfzjm" jdbcType="VARCHAR" />
		<result column="ysid" property="ysid" jdbcType="BIGINT" />
		<result column="zt" property="zt" jdbcType="INTEGER" />
		<result column="dm" property="dm" jdbcType="INTEGER" />
		<result column="ct" property="ct" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, fdid, jtid, xyfbm, xyfmc, xyfzjm, ysid, zt, dm, ct
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from hjt_ysxyf
		where ID = #{ID,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from hjt_ysxyf
		where ID = #{ID,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.sdhqtj.hjt.entity.Ysxyf">
		insert into hjt_ysxyf (ID, fdid, jtid,
		xyfbm, xyfmc, xyfzjm,
		ysid, zt, dm, ct
		)
		values (#{ID,jdbcType=INTEGER}, #{fdid,jdbcType=INTEGER},
		#{jtid,jdbcType=INTEGER},
		#{xyfbm,jdbcType=VARCHAR}, #{xyfmc,jdbcType=VARCHAR}, #{xyfzjm,jdbcType=VARCHAR},
		#{ysid,jdbcType=BIGINT}, #{zt,jdbcType=INTEGER},
		#{dm,jdbcType=INTEGER}, #{ct,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.sdhqtj.hjt.entity.Ysxyf">
		insert into hjt_ysxyf
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ID != null">
				ID,
			</if>
			<if test="fdid != null">
				fdid,
			</if>
			<if test="jtid != null">
				jtid,
			</if>
			<if test="xyfbm != null">
				xyfbm,
			</if>
			<if test="xyfmc != null">
				xyfmc,
			</if>
			<if test="xyfzjm != null">
				xyfzjm,
			</if>
			<if test="ysid != null">
				ysid,
			</if>
			<if test="zt != null">
				zt,
			</if>
			<if test="dm != null">
				dm,
			</if>
			<if test="ct != null">
				ct,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ID != null">
				#{ID,jdbcType=INTEGER},
			</if>
			<if test="fdid != null">
				#{fdid,jdbcType=INTEGER},
			</if>
			<if test="jtid != null">
				#{jtid,jdbcType=INTEGER},
			</if>
			<if test="xyfbm != null">
				#{xyfbm,jdbcType=VARCHAR},
			</if>
			<if test="xyfmc != null">
				#{xyfmc,jdbcType=VARCHAR},
			</if>
			<if test="xyfzjm != null">
				#{xyfzjm,jdbcType=VARCHAR},
			</if>
			<if test="ysid != null">
				#{ysid,jdbcType=BIGINT},
			</if>
			<if test="zt != null">
				#{zt,jdbcType=INTEGER},
			</if>
			<if test="dm != null">
				#{dm,jdbcType=INTEGER},
			</if>
			<if test="ct != null">
				#{ct,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.sdhqtj.hjt.entity.Ysxyf">
		update hjt_ysxyf
		<set>
			<if test="fdid != null">
				fdid = #{fdid,jdbcType=INTEGER},
			</if>
			<if test="jtid != null">
				jtid = #{jtid,jdbcType=INTEGER},
			</if>
			<if test="xyfbm != null">
				xyfbm = #{xyfbm,jdbcType=VARCHAR},
			</if>
			<if test="xyfmc != null">
				xyfmc = #{xyfmc,jdbcType=VARCHAR},
			</if>
			<if test="xyfzjm != null">
				xyfzjm = #{xyfzjm,jdbcType=VARCHAR},
			</if>
			<if test="ysid != null">
				ysid = #{ysid,jdbcType=BIGINT},
			</if>
			<if test="zt != null">
				zt = #{zt,jdbcType=INTEGER},
			</if>
			<if test="dm != null">
				dm = #{dm,jdbcType=INTEGER},
			</if>
			<if test="ct != null">
				ct = #{ct,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{ID,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.sdhqtj.hjt.entity.Ysxyf">
		update hjt_ysxyf
		set fdid = #{fdid,jdbcType=INTEGER},
		jtid = #{jtid,jdbcType=INTEGER},
		xyfbm = #{xyfbm,jdbcType=VARCHAR},
		xyfmc = #{xyfmc,jdbcType=VARCHAR},
		xyfzjm = #{xyfzjm,jdbcType=VARCHAR},
		ysid = #{ysid,jdbcType=BIGINT},
		zt = #{zt,jdbcType=INTEGER},
		dm = #{dm,jdbcType=INTEGER},
		ct = #{ct,jdbcType=TIMESTAMP}
		where ID = #{ID,jdbcType=INTEGER}
	</update>
</mapper>